<div class="ui green segment">
  <span class="ui label">{{@model.employee.email}}</span>
  <button class="ui black button" type="button" {{action "logout"}}>
    Logout
  </button>
</div>
<h1>Créées(en attente de préparation)</h1>
<ul>
  {{#each @model.orders as |order|}}
      <LinkTo @route="order" @model={{order.id}}>
        {{#if (eq order.status "created")}}
          <i class="hourglass half icon "style="color: orange;"></i>
        {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span>

        {{/if}}

      </LinkTo>
      <br>
  {{/each}}
      <h1>Préparées</h1>
  {{#each @model.orders as |order|}}
    <div>

    </div>
    <LinkTo @route='order' @model={{order.id}}>
      {{#if (eq order.status "prepared")}}
        <i class="check icon"style="color: green;"></i>
        {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span>
        <button class="ui green button" style="margin-left: 500px;">{{order.toPay}} </button>

      {{/if}}

    </LinkTo>
  {{/each}}
</ul>