<div class="ui green segment">
  <span class="ui label">{{@model.employee.email}}</span>
  <button class="ui black button" type="button" {{action "logout"}}>
    Logout
  </button>
</div>
<h2>Orders</h2>
<h1>Créées en Attente de préparation)</h1>
<ul>
  {{#each @model.orders as |order|}}
    <li>
      <LinkTo @route="order" @model={{order.id}}>
        {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span>
        {{#if (eq order.status "created")}}
          <div >
          </div>
          <i class="hourglass half icon "style="color: orange; margin-left: -520px;"></i>
        {{/if}}
        {{#if (eq order.status "prepared")}}
          <i class="check icon"style="color: green;  margin-left: -520px;"></i>
          <button class="ui green button" style="margin-left: 500px;">{{order.toPay}} </button>

        {{/if}}

      </LinkTo>

    </li>
  {{/each}}
</ul>