{{page-title "Index"}}
<div class="ui green segment">
  <h1> Connexion</h1>
<form class = "ui form" {{action "login" @model on="submit"}}>
  <div class="field">
    <i class ="user icon"></i>
  <Input type="email" @value={{@model.email}} placeholder="Votre email"  required />
  </div>
  <div class="field">
    <i class="lock icon"></i>
  <Input type="password" @value={{@model.password}} placeholder=" Votre mot de passe"  required />
  </div>

  <button class = "ui secondary button" style = "text-align: center; margin-top:10px; width: 100%; "  type="submit">Se connecter</button>
</form>
</div>
<div id = "erreur">


</div>
{{outlet}}